/* login.css */  

/* General body styles */  
body {  
    background-image: url("../../img/lab-3.jpg");  
    font-family: 'Arial', sans-serif;  
    background-size: cover;
    height: 97.4vh;
    background-repeat: no-repeat;
    background-position: center;
}  

.card {  
    border: none;  
    border-radius: 8px; /* Esquinas redondeadas */  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);  
    margin-top: 100px; /* Menos espaciado superior */  
    width: 25rem; /* Ancho del cuadro más pequeño */  
    background-color: rgba(255, 255, 255, 0.7); /* Fondo blanco semi-transparente */  
}  

/* Card title styles */  
.card-title {  
    font-size: 1.3rem; /* Tamaño del título */  
    font-weight: 600;  
    color: #004f9d;  
    text-align: center;  
    margin-bottom: 15px;  
}  

/* Input fields styles */  
input[type="text"], input[type="password"] {  
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */  
    border: 1px solid #ced4da;  
    border-radius: 4px;  
    padding: 10px;  
    width: 100%; /* Ancho del campo */  
    margin-bottom: 15px; /* Espacio entre campos */  
}  

/* Button styles */  
.btn {  
    background-color: #007bff;  
    border: none;  
    border-radius: 5px;  
    padding: 10px 15px;  
    font-size: 1rem;  
    color: white;  
    transition: background-color 0.3s ease;  

}  

.btn:hover {  
    background-color: #0056b3; /* Color al pasar el mouse */  
}  

/* Error message styles */  
#error-message {  
    margin-top: 15px;  
    display: none;  
}  

/* Responsive styles */  
@media (max-width: 768px) {  
    .card {  
        width: 90%; /* Ajuste en pantallas pequeñas */  
    }  
}  