    body {
        background: linear-gradient(135deg, #343a40 0%, #6c757d 100%); /* Degradado de gris oscuro a gris medio */
        color: #3d3d3d; 
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: #ffffff; 
        border: none; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    .card-body {
        padding: 20px; 
    }

    .card-title {
        font-weight: bold;
        color: #343a40; 
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .form-control {
        background-color: #ffffff; 
        color: #343a40; 
        border: 1px solid #ced4da; 
    }

    .form-control:focus {
        background-color: #ffffff;
        color: #343a40;
        border-color: #80bdff; 
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
    }




