/* Alinear card-text y iconos */
.card-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio inferior */
}

.card-text i {
    margin-right: 10px; /* Espacio entre el icono y el texto */
}

/* Ajustar márgenes izquierdo y derecho */
.my-row {
    margin-top: 20px; /* Margen superior ajustable */
    margin-bottom: 20px;
}




