{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="{{ user.picture.url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ user.username | upper }}</h5>
                <div class="location">
                    <p class="card-text mt-3"><i class="bi bi-geo-alt"></i> {{ user.location }}</p>
                </div>
                <p class="card-text mt-1">{{ user.bio }}</p>
                <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-primary">Editar Perfil</a>
                <a href="{% url 'exit' %}" class="btn btn-sm btn-success">Cerrar Sesión</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h4>Título cualquiera</h4>
        <p>{% lorem %}</p>
    </div>
</div>
{% else %}
<h4>Título cualquiera</h4>
<p>{% lorem %}</p>
{% endif %}