{% load static %}
<script src="{% static 'js/pacientes/pacientess.js' %}"></script>
<script>
    listar_pacientes()
</script>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"><b>GESTIÓN PACIENTES</b></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Pacientes</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><b>Listado de Pacientes</b></h3> <button class="btn btn-danger btn-sm float-right"
                onclick="ModalRegistroPaciente()"> <i class="fas fa-plus"> Nuevo Registro</i></button>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-14 table responsive">
                    <table id="tabla_pacientes" class="display">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Cédula</th>
                                <th>Paciente</th>
                                <th>Teléfono</th>
                                <th>Edad</th>
                                <th>Sexo</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Registro Paciente -->
<div class="modal fade" id="modal_registro_paciente" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Registro Paciente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label for="txt_ci">Cédula</label>
                        <input type="text" id="txt_ci" placeholder="Cédula" class="form-control">
                    </div>
                    <div class="col-9">
                        <label for="txt_nombres">Nombres</label>
                        <input type="text" id="txt_nombres" placeholder="Ingresar nombres del paciente"
                            class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="txt_apepat">Apellido Paterno</label>
                        <input type="text" id="txt_apepat" placeholder="Ingresar apellido paterno" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="txt_apemat">Apellido Materno</label>
                        <input type="text" id="txt_apemat" placeholder="Ingresar apellido materno"
                            class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="txt_tlf">Teléfono</label>
                        <input type="text" id="txt_tlf" placeholder="Teléfono" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="txt_fecha_nacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="txt_fecha_nacimiento" class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="select_sexo">SEXO</label>
                        <select class="form-control" id="select_sexo" style="width: 100%">
                            <option value="">Seleccione...</option>
                            <option value="masculino">MASCULINO</option>
                            <option value="femenino">FEMENINO</option>
                        </select>
                    </div>
                    <div class="col-12" id="div_mensaje_error">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="registrar_paciente()">Registrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal-->

<!-- Modal Editar Paciente -->
<div class="modal fade" id="modal_editar_paciente" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Modificar Paciente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <label for="txt_ci_editar">Cédula</label>
                        <input type="text" id="txt_ci_editar" data-id="" placeholder="Cédula" class="form-control" disabled>
                    </div>
                    <div class="col-9">
                        <label for="txt_nombres_editar">Nombres</label>
                        <input type="text" id="txt_nombres_editar" placeholder="Ingresar nombres del paciente"
                            class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="txt_apepat_editar">Apellido Paterno</label>
                        <input type="text" id="txt_apepat_editar" placeholder="Ingresar apellido paterno"
                            class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="txt_apemat_editar">Apellido Materno</label>
                        <input type="text" id="txt_apemat_editar" placeholder="Ingresar apellido materno"
                            class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="txt_tlf_editar">Teléfono</label>
                        <input type="text" id="txt_tlf_editar" placeholder="Teléfono" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="txt_fecha_nacimiento_editar">Fecha de Nacimiento</label>
                        <input type="date" id="txt_fecha_nacimiento_editar" class="form-control"><br>
                    </div>
                    <div class="col-6">
                        <label for="select_sexo_editar">SEXO</label>
                        <select class="form-control" id="select_sexo_editar" style="width: 100%">
                        </select>
                    </div>
                    <div class="col-12" id="div_mensaje_error_editar">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        aria-label="Close">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="modificarPaciente()
                ">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Fin Modal-->