{% extends 'inicio/base.html' %}

{% block content %}

{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" href="{% static 'css/inicio/login.css' %}">


<br>

<form id="login-form" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 20rem;">
        <div class="card-body">
            <h5 class="card-title">Ingrese sus Credenciales</h5>
            {{ form|crispy }}
            <div id="error-message" class="alert alert-danger" role="alert" style="display: none;"></div>
            <button class="btn btn-sm btn-primary float-end" type="submit">Iniciar Sesión</button>
        </div>
    </div>
</form>

<!-- jQuery -->
<script src="{% static 'adminlite/plugins/jquery/jquery.min.js' %}"></script>
<!-- Sweetaler -->
<script src="{% static 'adminlite/plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#login-form').on('submit', function(event) {
            event.preventDefault();
    
            const csrfToken = '{{ csrf_token }}';
            const username = $('#id_username').val();
            const password = $('#id_password').val();
    
            $.ajax({
                url: '{% url "custom_login_view" %}',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ username: username, password: password }),
                headers: {
                    'X-CSRFToken': csrfToken
                },
                success: function(response) {
                    Swal.fire({
                        title: 'Inicio de sesión exitoso!',
                        text: 'Redireccionando en 3 segundos...',
                        icon: 'success',
                        timer: 3000,
                        showConfirmButton: false,
                        timerProgressBar: true,
                        willClose: () => {
                            window.location.href = '{% url "home" %}';
                        }
                    });
                },
                error: function(xhr) {
                    let errorMessage = '';
                    if (xhr.status === 403 || xhr.status === 401 || xhr.status === 404) {
                        errorMessage = xhr.responseJSON.error;
                    } else {
                        errorMessage = 'Ocurrió un error. Por favor, inténtelo de nuevo.';
                    }
                    $('#error-message').text(errorMessage).show();
                }
            });
        });
    });
    </script>

{% endblock %}
